/aispeak-server/.env
/aispeak-server/files/*
/aispeak-frontend/node_modules/*
*.pyc
/aispeak-frontend/dist/*
/aispeak-frontend/src/static/.DS_Store
/aispeak-server/.idea/
aispeak-server/.DS_Store
/aispeak-server/alembic.ini
aispeak-server/alembic.prod.ini
aispeak-frontend/ssl/
/aispeak-nextjs/node_modules/*
/aispeak-nextjs/.next/*
